.project-list {
  width: 100%;
}

.project-list .project {
  width: 100%;
  display: grid;
  grid-template-columns: 68% 12% 12%;

  grid-gap: 4%;
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
  margin: 8px 0;
}
.project-list .project:hover {
  background-color: #ddd;
}

.project-list .project span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
