.track {
  border: 1px solid green;
  padding: inherit;
  margin-bottom: 8px;
  color: white;

  display: grid;
  grid-template-columns: 59% 20% 20%;
  grid-gap: 1%;
}

.track .name {
  display: flex;
  align-items: center;
}

.track .time-info {
  display: grid;
  grid-template-columns: 32% 33% 32%;
  grid-gap: 1%;
}
.track .time-info div {
  padding: 4px;
}
