.time-tracker {
  min-height: 100vh;
  background-color: black;
  padding: 4px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.time-tracker .new-track {
  padding: inherit;

  display: grid;
  grid-template-columns: 79% 20%;
  grid-gap: 1%;
}
